.contacts {
  background-image: linear-gradient(90deg, #0e3959 0%, #0e3959 30%, #03a9f5 30%, #03a9f5 100%);
  color: aliceblue;
}

.contactUs {
  position: relative;
  width: 100%;
  padding: 40px 100px;
}

.contactUs__title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contactUs__title h2 {
  font-size: 2.2rem;
  font-weight: 500;
  letter-spacing: 0.2px;
 }

 .box {
   display: flex;
   flex-direction: row-reverse;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
 }

 .contact {
   flex-grow: 1;
   margin: 15px;
   padding: 40px;
   max-width: 500px;
   border: 2px solid #0e3959;
   color: black;
   background-color: aliceblue;
 }

 .form {
   width: 100%;
 }

 .form__box {
   /* width: 100%; */
   /* max-width: 500px; */
   display: flex;
   /* flex-wrap: wrap; */
   flex-direction: column;
   /* align-items: flex-end; */
 }

 .input__box {
  display: inline-flex;
  flex-wrap: wrap;
  margin-top: 16px;
  /* max-width: 500px; */
  /* flex-grow: 1; */
 }

/* .input__box > label {
  display: block;
  width: 100%;
  height: 100%;
} */

/* .input__box > input,
.input__box > textarea {
   display: block;
   width: 100%;
 } */

 .input {
   font-size: 1.3rem;
   line-height: 2.4rem;
   max-width: 500px;
   flex-grow: 1;
 }

 .btn-reset {
  padding: 0;
  border: none;
  /* background-color: transparent; */
  cursor: pointer;
}

.input-btn {
  width: 150px;
  height: 46px;
  background-color: #1b91e3;
  border-radius: 3px;
  font-style: normal;
  font-weight: bold;
  font-size: 1.2rem;
  /* line-height: 1.5rem; */
  text-align: center;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  color: #ffffff;
  outline-offset: 2px;
}

