.contacts {
  background-color: #0e3959;
  color: aliceblue;
  padding: 40px 0 80px;
}

.contactUs {
  position: relative;
  width: 100%;
  padding: 40px 100px;
}

.contactUs__title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contactUs__title h2 {
  font-size: 2.2rem;
  font-weight: 500;
  letter-spacing: 0.2px;
 }

 .box {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   /* align-items: flex-start; */
 }

 .contact {
   flex-grow: 1;
   margin: 15px;
   padding: 40px;
   max-width: 500px;
   color: #fff;
   background-color: #0e3959;
 }

 .form {
   width: 100%;
 }

 .form__box {
   display: flex;
   flex-direction: column;
   /* align-items: flex-end; */
 }

 .input__box {
  display: inline-flex;
  flex-wrap: wrap;
  margin-top: 16px;
 }

 .input {
   color: #fff;
   font-size: 1.3rem;
   font-weight: 500;
   letter-spacing: 0.18px;
   line-height: 2.4rem;
   max-width: 500px;
   flex-grow: 1;
   background-color: #0e3959;
   /* border: none; */
   border: 1px solid #c4c4c4;
 }

 .input::placeholder {
   color: aliceblue;
   padding-left: 8px;
 }

 .input__textarea {
   color: #fff;
   font-weight: 400;
   letter-spacing: 0.2px;
 }

 .btn-reset {
  padding: 0;
  border: none;
  /* background-color: transparent; */
  cursor: pointer;
}

.input-btn {
  width: 150px;
  height: 46px;
  background-color: #1b91e3;
  border-radius: 3px;
  font-style: normal;
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  color: #ffffff;
  outline-offset: 2px;
}

.contact__info {
  display: flex;
  flex-direction: column;
}

.info__item {
  font-weight: 400;
  font-size: 1.5rem;
  margin-top: 1.7rem;
}

.info__item-title {
  letter-spacing: 0.22px;
}

.info__item-email {
  color: #fff;
  font-weight: 500;
  text-underline-offset: 2px;
  text-decoration-thickness: 2px;
  letter-spacing: 0.22px;
}

.info__item-tel {
  /* text-decoration: underline; */
  margin-bottom: 1.4rem;
}

.info__item-tel > a {
  color: #fff;
  text-underline-offset: 4px;
  text-decoration-thickness: 2px;
}

@media (max-width: 785px) {
  .box {
    align-items: center;
  }
}

@media (max-width: 575px) {
  .contactUs__title h2 {
    font-size: 1.5rem;
    text-align: center;
  }
  .container {
    padding: 0;
  }
  .contact {
    margin: 0;
  }
}

@media (max-width: 450px) {
  .contactUs {
    padding: 20px;
  }
  .info__item,
  .input {
    font-size: 1.2rem;
  }
  .contact {
    padding: 25px 20px;
  }
}