.price {
  color: #fff;
  background-image: url('./media/bg-for-2section.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.price h2 {
  text-align: center;
  padding-top: 10rem;
  margin-bottom: 5rem;
  font-size: 3rem;
  font-weight: 350;
}

.container {
  max-width: 1269px;
  margin: 0 auto;
  padding: 0 10px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  width: 570px;
  margin-bottom: 5rem;
}

.svg-container {
  margin: 0 auto;
  margin-bottom: 2rem;
  height: 11rem;
  width: 11rem;
}

.card-header {
  margin-bottom: 3rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 350;
}

.card-list {
  font-size: 1.6rem;
  font-weight: 400;
}

.card-list__dron {
  display: inline-block;
  margin-left: 5rem;
  margin-top: 3rem;
}

li.item-link {
  list-style-type: none;
}

.equipment-link {
  margin-left: -2rem;
  text-underline-offset: 4px;
  color: white;
}

/* .equipment-link:visited {
  color: purple;
} */

.equipment-link:hover,
.equipment-link:focus {
  color: var(--logo);
}

@media (max-width: 1170px) {
  .card-list__dron {
    margin-top: 0;
  }
  .card {
    padding: 26px 10px;
    background-image: url(./media/bg-for-2section.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

@media (max-width: 768px) {
  .svg-container {
    height: 8rem;
    width: 8rem;
  }

  .price h2 {
    padding-top: 6rem;
    margin-bottom: 4rem;
    font-size: 2.2rem;
  }

  .card-header {
    font-size: 1.7rem;
  }

  .card-list {
    font-size: 1.4rem;
  }

  .card-list__dron {
    margin-left: 2rem;
  }
}

@media (max-width: 540px) {
  .card-list__dron {
    margin-left: 1rem;
  }
  .container {
    padding: 0;
  }
}

@media (max-width: 492px) {
  .svg-container {
    height: 7rem;
    width: 7rem;
  }

  .price h2 {
    padding-top: 5rem;
    margin-bottom: 3rem;
    font-size: 2rem;
  }

  .card-header {
    font-size: 1.5rem;
  }

  .card-list {
    font-size: 1.2rem;
  }

  .card-list__dron {
    margin-left: 0;
  }
}

/* @media (max-width: 540px) {
  body {
    overflow-x: hidden;
  }
  .qForm_NextButton {
    font-size: 4rem;
    margin: 105px 15px;
    padding: 32px 155px 32px 35px;
    border-top: 2px #669999 solid;
    border-right: 2px #669999 solid;
    border-bottom: 2px #009900 solid;
    border-left: 2px #009900 solid;
    background-color: #E1FBE4;
    font-weight: bold;
    color: #006600;
    background-image: url(/images/qForm_next.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}
  input[type="checkbox"], input[type="radio"] {
    background: transparent;
    border: 2px solid black;
    box-shadow: 6px 6px 0px 1px;
    display: inline-block;
    padding: 22px 22px;
    margin: 20px;
    width: 60px;
    height: 60px;
}
 input[type="checkbox"] + label {
    font-size: 2.8rem;
    line-height: 2.8rem;
 }
} */