.proposal {
  padding: 5rem 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: black;
  color: #d1cac9;
}

.proposal img {
  max-width: 725px;
  flex-grow: 1;
  padding: 0 10px 5rem;
}

.proposal-wrapper {
  max-width: 775px;
  margin: 0 auto;
  padding: 0 10px 5rem;
}

.proposal h2 {
  text-align: center;
  font-size: 3rem;
  font-weight: 350;
  margin-bottom: 1rem;
}

.proposal p {
  font-size: 1.4rem;
  font-weight: 400;
}

@media (max-width: 1160px) {
  .proposal {
    /* flex-direction: column; */
    padding: 5rem 0;
  }
}